@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


:root,body{
    padding: 0px;
    margin: 0px;
    background-color: #111;
    color: white;
    font-family: "Figtree", serif;
    overflow-x: hidden;

    --main-color: #4eaaff;
    --main-color-dark: #3271ab;
}

input{
    all: unset;
    appearance: none;
}
